<app-header titulo="parrilla"></app-header>

<ion-content class="ion-padding" fullscreen>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-md="6" 
              *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
        <ion-card>
          <ion-img src="/assets/e92a35320cf0aa8d5104e06f7b125f92.jpg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Subtitulo</ion-card-subtitle>
          <ion-card-title>Titulo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatum nihil consequuntur vel nemo asperiores unde repellat eius enim! Consequatur iure illum maxime quos voluptatem sequi aliquid tenetur aspernatur aliquam.
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
