<app-header titulo="inputs"></app-header>

<ion-content>
  <ion-list>
  <ion-list-header>Nombre: {{ name || 'No Name'}}</ion-list-header>
    <ion-item>
       <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

    <ion-list>
      <ion-list-header>
      <ion-label>Formulario template valido {{ formulario.valid }}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="usuario.email"
                 required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="usuario.password"
                 required minlength="3"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submmit"
                  [disabled]="formulario.invalid">Guardar</ion-button>
    </ion-list>

  </form>

</ion-content>
